<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/orderpos" routerLinkActive="active" ariaCurrentWhenActive="page">POS Dashboard</a></li>
    <li><a routerLink="/orderplace" routerLinkActive="active" ariaCurrentWhenActive="page">Place Order</a></li>
    <li><a routerLink="/terminallogin" routerLinkActive="active" ariaCurrentWhenActive="page">Terminal Login</a></li>
    <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Terminal Login</a></li>
    <li><a routerLink="/orderlist" routerLinkActive="active" ariaCurrentWhenActive="page">Order list</a></li>
    <li><a routerLink="/orderdetails" routerLinkActive="active" ariaCurrentWhenActive="page">Order Details</a></li>
    
  </ul>
</nav>
<router-outlet></router-outlet>